{% extends 'store/main.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
      <img class="thumbnail" src="{{ product.image.url }}">
        <div class="box-element product">
          <h6><strong>{{ product.name }}</strong></h6>
          <hr>
          <!--The class update-cart(below) is to be used for javascript -->
          <button data-product={{product.id}} data-action=add
             class="btn btn-outline-secondary add-btn update-cart">Add to Cart
          </button>
          <h4 style="display: inline-block;">
            <strong>UGX{{ product.price|floatformat:2 }}</strong>
          </h4>
        </div>
    </div>
  
    <div class="col-lg-6">
      
        <div class="box-element product">
          <h3><strong>{{ product.name }}</strong></h3>
          <hr>
          <h2>Details:</h2>
          <h4>{{ product.description}}</h4>
          <hr>
          <!--The class update-cart(below) is to be used for javascript -->
          <button 
             class="btn btn-outline-secondary">watch video
          </button>
          
        </div>
    </div>
  
  
{% endblock content %}