.container {
  background: #f2f2f2;
  height: 300px;
  width: 300px;
}

section .card{
  background: #fff;
  border-radius: 20px;
 
  margin: 10%;
  
  
}
.card-content{
  width: 100%;
}

section .card .image {
  /*max-width: 400px;*/
  height: 150px;
  width: 150px;
  
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
  
}

section .card .image img{
  width: auto;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
